# Virtual environment
venv/
env/
ENV/
venv_dbt/
.airflow_venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Environment variables
.env

# Docker
*.log
docker-compose.override.yml
docker-compose.override.yaml

# PostgreSQL data
storage/postgres_data/

# VS Code / PyCharm
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Data (ignore generated CSVs)
data/*.csv

# Jupyter
.ipynb_checkpoints/

# Coverage / test outputs
htmlcov/
.coverage
coverage.xml
*.cover

# Build / packaging
build/
dist/
*.egg-info/

#dbt
.dbt/

processing/target/
processing/logs/

#.bat
doc.bat
run_all.bat
run_with_dashboard.bat
